body {
  background-color: #21134b;
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family:Arial;
    text-decoration: none;
  }
  
  a{
    color:white;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .confirm{
    position: absolute;
    top: 200px;
    left: 250px;
  }

  .texto{
    color:white;
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    border-right: 0px solid #000000;
    border-bottom: 8px solid #ffffff;
    font-family:Arial;
    width: 600px;
    height: 300px;
    position:absolute;
    top: 180px;
    right: 300px;
    font-size: 19px;
  }

  .botoes{
    position:absolute;
    top:540px;
    right:550px;
  }
  .confirm-donate {
    width: 450px;
    height: 93px;
    border: 0px solid #444444;
    padding: 0px;
    margin: 0px;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-family:Arial;
    text-align: center; 
    text-decoration: none;
    color: #ffffff;
    background-color: #4dffa3; 
    cursor: pointer;
  }

  .voltar-inicio {
    width: 450px;
    height: 93px;
    border: 0px solid #444444;
    padding: 0px;
    margin: 0px;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-family:Arial;
    text-align: center; 
    text-decoration: none;
    color: #ffffff;
    background-color: #2499ff; 
    cursor: pointer;
  }

  .final-pag{
    position: absolute;
    top:1500px;
    left: 0px;
    width: 1480px;
    height: 200px;
    background-color: #252525;
  }
  
  .textofinal{
    font-size: 40px;
    color:white;
  }