body {
    background-color: #21134b;
    background-image:url(../FILES/fundoteste2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    }



/* navbar */
* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
/* navbar */
  

footer {
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 50px;
  text-align: center;
  margin-top:400px;
  margin-left: -10px;
}
      
      .textofinal{
        font-size: 40px;
        color:white;
      }

.textocontato{
    position:absolute;
    top:130px;
    left:640px;
    font-family:Arial;
    color:white;
    font-size:55px
}

.desccontato{
    position:absolute;
    top:220px;
    left:250px;
    height: 100px;
    width: 1000px;
    font-family:Arial;
    color:white;
    font-size:18px
}

.desccontato2{
    position:absolute;
    top:245px;
    left:250px;
    height: 100px;
    width: 1000px;
    font-family:Arial;
    color:white;
    font-size:18px
}

.customcontato{
    position: absolute;
    top:300px;
    left:400px;
    color:white;
    font-family:arial;
    font-size:25px;
}

.imputpretty{
    height: 30px;
    border: none;
    font-size: 20px;
}

.enviar {
  margin-top: 600px;
  margin-left: 600px;
  width: 130px;
  height: 44px;
  border: 0px solid #444444;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  background-color: #3d91ff; 
}

.enviar:hover{
  background-color: #70aeff; 
  cursor: pointer;
}

.imputmsgpretty{
    border: none;
    width: 700px;
    height: 300px;
    font-style: normal;
}

.imputmsgpretty {
  font-size: 20px;
  height: 150px;
}

ul {
  margin-bottom: unset;
}