body {
    background-color: #21134b;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: Arial;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }
  
  .logo {
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 40px;
    color: white;
    background-color: #FFFFFF;
    height: 300px;
    border-radius:50%;
    width: 300px;
    overflow: hidden;
    border: 6px purple solid;
    animation: animacao-esquerda 2s ease 0s 1 normal forwards;
  }
  
  
  .wpp{
    position: absolute;
    top: 420px;
    left: 50px;
    animation: animacao-esquerda 2s ease 0s 1 normal forwards;
  }
  
  .wpptext{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 200px; 
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    color: #ffffff;
    animation: animacao-esquerda 2s ease 0s 1 normal forwards;
  }
  
  .insta{
    position: absolute;
    top: 480px;
    left: 50px;
    animation: animacao-esquerda 2s ease 0s 1 normal forwards;
  }
  
  .instatext{
    position: absolute;
    top: 0px;
    left: 25px;
    width: 200px; 
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    color: #ffffff;
    animation: animacao-esquerda 2s ease 0s 1 normal forwards;
  }
  
  .telefone{
    position: absolute;
    top: 550px;
    left: 50px;
    animation: animacao-esquerda 2s ease 0s 1 normal forwards;
  }
  
  .telefonetext{
    position: absolute;
    top: 0px;
    left: 5px;
    width: 200px; 
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    color: #ffffff;
    animation: animacao-esquerda 2s ease 0s 1 normal forwards;
  }
  
  .galeria{
    position: absolute;
    top: 800px;
    left: 80px;
    font-size: 40px;
    color: white;
    animation: animacao-esquerda 2s ease 0s 1 normal forwards;
  }
  
  .galeriab{
    position: absolute;
    top: 0px;
    left: 700px;
    font-size: 40px;
    color: white;
    animation: animacao-esquerda 2s ease 0s 1 normal forwards;
  }
  
  .bio {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 650px; 
    height: 380px; 
    overflow: hidden; 
    background-color: #6a0a9a;
    animation: animacao-direita 2s ease 0s 1 normal forwards;
    }
  
  h1.biotitulo {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    color: #ffffff;
    }
    
  p.biotexto {
    text-indent: 20px;
    text-align: center;
    text-align-last: center;
    font-family:Arial;
    letter-spacing: 1px;
    color:white;
    }
  
  
  .doacao {
      position: absolute;
      top: 500px;
      right: 150px;
      width: 500px;
      height: 40px;
      border: 3px solid #008a29;
      padding: 30px;
      margin: 0px;
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-family:Arial;
      text-align: center; 
      text-decoration: none;
      color: #ffffff;
      background-color: #00ff11; 
      cursor: pointer;
      animation: animacao-direita 2s ease 0s 1 normal forwards;
  
  }
  
  .yt{
    position: absolute;
    left: 300px;
    top: 850px;
    animation: animacao-esquerda 2s ease 0s 1 normal forwards;
  }
  
  .final-pag{
    position: absolute;
    top:2200px;
    left: 0px;
    width: 1480px;
    height: 200px;
    background-color: #252525;
  }
  
  .textofinal{
    font-size: 40px;
    color:white;
  }
  
  @keyframes animacao-esquerda {
      0% {
          opacity: 0;
          transform: translateX(-50px);
      }
  
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }
  
  @keyframes animacao-direita {
      0% {
          opacity: 0;
          transform: translateX(50px);
      }
  
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }
  