div{text-align: center;}

body {
  background-color: #21134b;
  background-image:url(../FILES/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

button{
    height: 2em;
    width: 15em;
    border:1em black;
    color:black;
    text-align: center;
    display: inline-block;
    cursor: pointer;

}

.carousel-control-prev{
  justify-content: flex-start;
  top: 160px;
  left: 10px;
}

.carousel-control-next{
  justify-content: flex-end;
  top: 160px;
  right: 10px;
}



/* navbar */
* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
/* navbar */



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centro{
  display: inline-block;
  position: relative;
}

.centro h1{
  position: absolute;
  top: 60px;
  left: 100px;
  font-size: 60px;
  color: white;
  font-family: Arial;
  animation: animacao-direita 2s ease 0.2s 1 normal forwards;
  opacity: 0;
}

.centro p {
  position: absolute;
  top: 145px;
  left: 100px;
  font-size: 40px;
  color: white;
  font-family: Arial;
  font-weight: bolder;
  animation: animacao-direita 2s ease 0.4s 1 normal forwards;
  opacity: 0;
}

.centro b {
  position: absolute;
  top: 200px;
  left: 100px;
  font-size: 40px;
  color: white;
  font-family: Arial;
  animation: animacao-direita 2s ease 0.6s 1 normal forwards;
  opacity: 0;
}

.textoinicial{
  color:white;
  font-family: Arial;
}

footer {
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 50px;
  text-align: center;
  margin-top: 200px;
  margin-left: -10px;
}

.textofinal{
  font-size: 40px;
  color:white;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.busca{
  background-color: white;
  display: flex;
  align-items: center;
}

.lupa{
  width: 40px;
  height: 40px;
  align-items:center;
  justify-content:center;
  background-color: white;
  display: flex;
}

.lupa i{
  font-size: 20px;
}
.busca-imput{
  border: none;
  outline: none;
  font-size: 30px;
}

@keyframes animacao-direita {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fontelogos{
    top:5px;
    font-family: arial;

}


.card-instituicao:hover {
  box-shadow: 21px 21px 21px 0 rgba(0, 0, 0,.26);
  transform: translateY(-5px);

}

.btn-purple{
  
  background-color: #4929ab;
  color: white;

}

.btn-purple:hover{

  background-color: #21134b;
  color: white;

}
.card-instituicao{
  display: flex;
  justify-content: space-around;
  transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
}

.list-card-ongs{
  display:flex;
  flex-wrap: wrap;
  gap:70px;
  justify-content: center;
}

ul {
  margin-bottom: unset;
}