body {
  background-color: #21134b;
  background-image:url(../FILES/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

      /* navbar */
* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
/* navbar */

  .qrcode{
    position: absolute;
    top: 200px;
    left: 250px;
  }

  .texto{
    color:white;
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    border-right: 0px solid #000000;
    border-bottom: 8px solid #ffffff;
    font-family:Arial;
    width: 600px;
    height: 300px;
    position:absolute;
    top: 180px;
    right: 300px;
    font-size: 19px;
  }

  .botoes{
    position:absolute;
    top:540px;
    right:320px;
  }
  .confirm-donate {
    width: 450px;
    height: 93px;
    border: 0px solid #444444;
    padding: 0px;
    margin: 0px;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-family:Arial;
    text-align: center; 
    text-decoration: none;
    color: #ffffff;
    background-color: #4dffa3; 
    cursor: pointer;
  }

  .voltar-inicio {
    width: 450px;
    height: 93px;
    border: 0px solid #444444;
    padding: 0px;
    margin: 0px;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-family:Arial;
    text-align: center; 
    text-decoration: none;
    color: #ffffff;
    background-color: #2499ff; 
    cursor: pointer;
  }

  footer {
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 50px;
    text-align: center;
    margin-top: 800px;
    margin-left: -10px;
  }
  
  .textofinal{
    font-size: 40px;
    color:white;
  }

  ul {
    margin-bottom: unset;
  }